@import url('https://fonts.googleapis.com/css2?family=Merriweather&family=Open+Sans&display=swap');

.App {
  margin: 50PX auto;
}

.card{
	margin: 0 auto;
	background: linear-gradient(to top, blue,lightblue);
	width: 200px;
	height: 240px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	border-radius: 10px;
	color: white;
}

.city {
	font-family: 'Merriweather', serif;
	font-size: 1.2em;
}

.country {
	font-family: 'Open Sans', sans-serif;
	font-size: 1em;
}

.temp {
	font-family: 'Merriweather', sans-serif;
	font-size: 1.3em;
	font-weight: 200;
}

.condition {
	font-family: 'Open Sans', serif;
	font-size: 1.1em;
}

.icon {
	width: 15%;
}
